<div class="container mt-5">
<h1 class="mb-5">My Profile</h1>

<%= link_to(image_tag(@user.photo, class: "img-fluid rounded d-inline-block w-25")) if @user.photo? %>

<h3 class="mb-3">
  <strong>Username:</strong>
  <%= @user %>
</h3>

<h3 class="mb-3">
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

<%= link_to 'Back', root_path, class: "btn btn-dark" %>

</div>